// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//========= Default Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
//========= CUSTOM COLORS
$black: #000000;
$textColor: #5B5B5B;
$formColor: #ACACAC;
$ash: #C1C1C1;
$semiWhite: #F1F1F1;
$white: #FFFFFF;
$yellow: #F2DB2A;
$red: #FF644C;
$darkBlue: #006CFF;
$lightBlue: #41ABFF;